body{
  margin-top: 0%;
  margin-bottom: 0%;
}

header ul{
  display:flex
}

main{
  align-items: stretch;
  display:flex;
  flex-wrap: wrap;
}

article{
  flex-basis: 40%;
  flex-grow:1;
}

aside{
  flex-basis:25%;
  float: right;
  width: 35%;
}

h1{
  flex-basis:100%;
}

section {
  float: left;
  width: 65%;
  margin-left: 10px;
}
